<style>
    .home {
        height: 50vh;
        background: #ff4d4d;
    }
    
    :host(.homeContainer) {
        position: fixed;
        display: inline-block;
        width: 100%;
        -webkit-transition: all ease-in-out 0.7s;
        transition: all ease-in-out 0.7s;
    }
    
    :host(.homeContainer.ng-enter) {
        /*transform: rotateZ(90deg)*/
		bottom:100vh;
		
    }
    
    :host(.homeContainer.ng-enter-active) {
        /*transform: rotateZ(0deg)*/
		top:auto;
		bottom:0;
    }


	:host(.homeContainer.ng-leave) {
        transform: rotateZ(90deg);
		/*top:0;*/
		
    }
    
    :host(.homeContainer.ng-leave-active) {
        transform: rotateZ(0deg);
		/*top:-100vh;*/
    }

</style>

<div class="thumbox1">

<h1>The Work Place</h1>
<div class="clear-fix"></div>
<ul><li>Unite</li><li>Occupy</li><li>Thrive</li></ul>


<div class="clear-fix"></div>

<p>Collective office leasing.<br>
You choose a location and a group of co-members and we'll do the rest.</p>

<div class="clear-fix"></div>

<a [routerLink]="['HowItWork']" class="find_out">Find out more</a>

<div class="clear-fix"></div>

<a [routerLink]="['Map']" class="find_office">
	<span class="fa fa-chevron-down"></span> <br>
Find an office
</a>

</div>