<div class="thumbox4">
<div class="header1">
<div class="hed_left">&nbsp;</div>
<div class="hed_mid"><a [routerLink]="['Home']">THE WORK PLACE</a></div>

</div>
<div class="clearfix"></div>

<div class="thumbox4_in" >

<h1>Reserve your desk</h1>
<div class="clearfix"></div>
<img class="howit_icon" src="src/img/work-station.png">
<div class="clearfix"></div>
<p>Pay a small reservation fee and we hold your space for you</p>
<div class="clearfix"></div>
<a [routerLink]="['HowItWork2']" class="find_out">Continue</a>
<div class="clearfix"></div>
</div>


<a href="#" class="find_office">Find an office space</a>

</div>