<div class="thumbox4">
<div class="header1">
<div class="hed_left">&nbsp;</div>
<div class="hed_mid"><a [routerLink]="['Home']">THE WORK PLACE</a></div>

</div>
<div class="clearfix"></div>

<div class="thumbox4_in">

<h1>We lease and fit the space</h1>
<div class="clearfix"></div>
<img class="howit_icon" src="src/img/PaperWork.png">
<div class="clearfix"></div>
<p>Once there is enough demand for the Work Place, we sign lease and create your office with a functional and contemporary feel</p>
<div class="clearfix"></div>
<a [routerLink]="['Map']" class="find_out">Find an Office</a>
<div class="clearfix"></div>
</div>


<a [routerLink]="['Map']" class="find_office">more info see FAQ</a>

</div>