<div class="top_right123" style="display:block;"><a href="javascript:;" class="pull-right close11" (click)="backtomap()" style="display:block;"><i aria-hidden="true" class="fa fa-long-arrow-left"></i></a></div>
<div class="thumbox5">
<div class="header1">
<div class="hed_left">&nbsp;</div>
<div class="hed_mid"><a [routerLink]="['Home']">THE WORK PLACE</a></div>
<div class="hed_right">

</div>
</div>
<div class="clearfix"></div>

<div class="selected_marker" (click)="select_location($event)">
</div>
<div id="ajax_responce">
<div class="cover_for_loading"></div>
</div>

<div class="book_desk">
<a href="javascript:;" (click)="selectdesk()" id="select_desk" class="office_here wnt_btn">I want an office here!</a>
</div>
</div>