<div class="thumbox3">
<div class="header1">
<div class="hed_left"><a href="javascript:;" class="back_botom"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></div>
<div class="hed_mid"><a [routerLink]="['Home']">THE WORK PLACE</a></div>
<div class="hed_right">

</div>
</div>

<div class="sing_up">
<a *ngIf="locationid_div==1" href="./api/users/linkedin/{{locationid}}/{{desk}}" class="login_with_linkedIn">Login with Linkedin</a>
<a *ngIf="locationid_div==0" href="./api/users/linkedin/" class="login_with_linkedIn">Login with Linkedin</a>
<a id="hidehref" href="./api/users/linkedin/" class="login_with_linkedIn">Login with Linkedin</a>

<div class="or">or</div>
<form #loginForm="ngForm" (ngSubmit)="loginUser()" id="loginForm">
	<input type="text"  class="inn1" id="email" [(ngModel)]="email" name="email" placeholder="Email">
	<input type="password"   class="inn1" id="password" [(ngModel)]="password" name="password" placeholder="Password">
    <div class="error_text" style="display:none;">* Username or password not match...</div>
	<button type="submit" id="login_submit" class="sub1" value="Login">Login</button>
</form>

<div class="signup_text"><a (click)="signup()">Create a new account.</a></div>

</div>


<div class="clearfix"></div></div>