<style>
    .map {
        height: 50vh;
        background: #ff4d4d;
    }
    
    :host(.mapContainer) {
        position: fixed;
        display: inline-block;
        width: 100%;
        -webkit-transition: all ease-in-out 0.7s;
        transition: all ease-in-out 0.7s;
    }
    
    :host(.mapContainer.ng-enter) {
        /*transform: rotateZ(90deg)*/
		top:100vh;
		
    }
    
    :host(.mapContainer.ng-enter-active) {
        /*transform: rotateZ(0deg)*/
		top:0;
    }

</style>

<div class="top_right123"><a href="javascript:;" class="pull-right close11" (click)="backtomap()"><i aria-hidden="true" class="fa fa-long-arrow-left"></i></a></div>
<div class="thumbox5">
<div class="header1">
<div class="hed_left">&nbsp;</div>
<div class="hed_mid"><a [routerLink]="['Home']">THE WORK PLACE</a></div>
<div class="hed_right">

</div>
</div>
<div class="clearfix"></div>

<div id="map">
<div class="map_cover_for_loading"></div>
<div id="map_load"></div>
</div>


<!--<a href="javascript:;" (click)="selectdesk()" id="select_desk" class="office_here wnt_btn">I want an ofice here!</a>-->
<div id="tabmarker" class="tapamarker"><a href="javascript:;">Tap a marker</a></div>
<div id="aftertabmarker" class="location" style="display:none;">

</div>
<div class="selected_marker" (click)="select_location($event)" style="display:none;">
</div>
<div  class="ajax_responce11">
<div id="ajax_responce">
<div class="cover_for_loading"></div>
</div>


<a href="javascript:;" (click)="selectdesk()" id="select_desk" class="office_here wnt_btn">I want an office here!</a>
</div>
</div>