<div class="thumbox5 thumbox5aaa">
<div class="header1">
<div class="hed_left">&nbsp;</div>
<div class="hed_mid"><a [routerLink]="['Home']">THE WORK PLACE</a></div>
<div class="hed_right">
</div>
</div>
<div class="clearfix"></div>
<div id="ajax_responce">
<div class="cover_for_loading"></div>
</div>

<div class="newcastel123">
<div class="media_icons">
<a href="javascript:;" id="fb_share_button_hr" data-desc="We're not there yet.we need to fill 3 more spaces in this location before it is vialble and have 3 days to dol it Make this location happen and with people that could help your business by sharing with your friends and colleagues" rel="location/{{select_location}}/{{loctionID}}"  data-caption="Add new desk">
<span class="fa fa-facebook" ></span>
</a>

<a class="tweet" href="javascript:;" rel="location/{{select_location}}/{{loctionID}}" onclick="tweetCurrentPage_href(this)" alt="Tweet this page"><span class="fa fa-twitter"></span></a>

<a href="javascript:;" id="instagram_share_button"><span class="fa fa-instagram"></span></a>

<a id="linked_share_button_hr" href="javascript:;" data-summary="We're not there yet.we need to fill 3 more spaces in this location before it is vialble and have 3 days to dol it Make this location happen and with people that could help your business by sharing with your friends and colleagues" rel="location/{{select_location}}/{{loctionID}}"  data-source="Add new desk"><span class="fa fa-linkedin"></span></a>

<a href="javascript:;" rel="location/{{select_location}}/{{loctionID}}"  onclick="mailto_href(this)"><span class="fa fa-envelope"></span></a>

<a id="whatsapp_share_button_hr" href="javascript:;" data-summary="We're not there yet.we need to fill 3 more spaces in this location before it is vialble and have 3 days to dol it Make this location happen and with people that could help your business by sharing with your friends and colleagues" rel="location/{{select_location}}/{{loctionID}}"  data-source="Add new desk"><span class="fa fa-whatsapp"></span></a>
</div>
<div class="clearfix"></div>
</div>

</div>