<div class="thumbox5">
<div class="header1">
<div class="hed_left">&nbsp;</div>
<div class="hed_mid"><a [routerLink]="['Home']">THE WORK PLACE</a></div>
<div class="hed_right">
</div>
</div>
<div class="clearfix"></div>
<h2>How many desks <br>
do you want?</h2>

<input id="spinner" name="spinner" value="1">
<div class="clearfix"></div>
<div class="spinner_bottom">*Hot desks are aproximatly 2/3 the price of a private office desk</div>
 

<a href="javascript:;" (click)="signupbtn()" class="reserve_space">Reserve space</a>

</div>