<div class="thumbox3">
<div class="header1">
<div class="hed_left"><a href="javascript:;" class="back_botom"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></div>
<div class="hed_mid"><a [routerLink]="['Home']">THE WORK PLACE</a></div>
<!--<div class="hed_right">
<div class="mob_icon" id="menu_click">
			<div class="icon__bar"></div>
			<div class="icon__bar"></div>
			<div class="icon__bar"></div>
		</div>
</div>-->
</div>

<div class="man_with_pic">

	<div class="man_with_pic_in">
<div class="image"><img src="api/user_image/{{image}}"></div>
<div class="details">{{name}}
<span>{{industry}}</span></div>
<div class="clearfix"></div>
	</div>

</div>

<div class="congratu">
<div class="congratu_in">
	<a href="javascript:;" class="pull-right view_lastinsert" id="{{select_location}}" [routerLink]="['Mapshare', { location:select_location,user:id}]"><i class="fa fa-times" aria-hidden="true"></i></a>
    <div class="clearfix"></div>
<h2>Congratulations!</h2>
<p>You have reserved a space in the Pearl</p>
</div>
</div>

<div class="congratu_down">
<div class="congratu_down_in">
<h3>We're not there yet...</h3>
<p>...we need to fill 3 more spaces in this location before it is vialble and have 3 days to dol it</p>

<p>Make this location happen and with people that could help your business by sharing with your friends and colleagues</p>


<div class="media_icons">
<a href="javascript:;" id="fb_share_button" data-desc="We're not there yet.we need to fill 3 more spaces in this location before it is vialble and have 3 days to dol it Make this location happen and with people that could help your business by sharing with your friends and colleagues"  data-caption="Add new desk">
<span class="fa fa-facebook" ></span>
</a>

<a class="tweet" href="javascript:;" onclick="tweetCurrentPage()" alt="Tweet this page"><span class="fa fa-twitter"></span></a>

<a href="javascript:;" id="instagram_share_button"><span class="fa fa-instagram"></span></a>

<a id="linked_share_button" href="javascript:;" data-summary="We're not there yet.we need to fill 3 more spaces in this location before it is vialble and have 3 days to dol it Make this location happen and with people that could help your business by sharing with your friends and colleagues"  data-source="Add new desk"><span class="fa fa-linkedin"></span></a>

<a href="mailto:info@ninenetics.com"><span class="fa fa-envelope"></span></a>

<a id="whatsapp_share_button" href="javascript:;" data-summary="We're not there yet.we need to fill 3 more spaces in this location before it is vialble and have 3 days to dol it Make this location happen and with people that could help your business by sharing with your friends and colleagues"  data-source="Add new desk"><span class="fa fa-whatsapp"></span></a>
</div>

</div>
</div>



<div class="clearfix"></div></div>