<div class="thumbox3">
<div class="header1">
<div class="hed_left"><a href="javascript:;" class="back_botom"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></div>
<div class="hed_mid"><a [routerLink]="['Home']">THE WORK PLACE</a></div>
<!--<div class="hed_right">
<div class="mob_icon" id="menu_click">
			<div class="icon__bar"></div>
			<div class="icon__bar"></div>
			<div class="icon__bar"></div>
		</div>
</div>-->
</div>
<div class="man_with_pic">

	<div class="man_with_pic_in">
<div class="image"><img src="api/user_image/{{image}}"></div>
<div class="details">{{username}}
<span>{{industry}}</span></div>
<div class="clearfix"></div>
	</div>

</div>
<div class="sing_up sing_up1">

<h3>Contact details:</h3> 
<p>(so we can send you your welcome pack and contact you about further requirements)</p>

{{issd}}
<form #registrationForm2="ngForm" (ngSubmit)="registerUser2()" id="registrationForm2">
<input type="hidden" class="inn1" id="id" [(ngModel)]="id" name="id" placeholder="id" value="{{id}}">
<input type="text" class="inn1" id="address1" [(ngModel)]="address1" name="address1" placeholder="Address Line 1">
<input type="text" class="inn1" id="address2" [(ngModel)]="address2" name="address2" placeholder="Address Line 2">
<input type="text" class="inn1" id="city" [(ngModel)]="city" name="city" placeholder="Town / City">
<input type="text" class="inn1" id="county" [(ngModel)]="county" name="county" placeholder="County">
<input type="text" class="inn1" id="post_code" [(ngModel)]="post_code" name="post_code" placeholder="Post Code">
<input type="text" class="inn1" id="country" [(ngModel)]="country" name="country" placeholder="Country">
<input type="text" class="inn1 phone_number" id="phone_number" [(ngModel)]="phone_number" name="phone_number" placeholder="Phone Number">
<div class="error_text" style="display:none;">* Please complete the fields hilighted</div>
<button type="submit" class="sub2" value="Save Contact" id="save_contact">Save Contact</button>
</form>

<div class="signup_text">By signing up, you agree to our <a href="#">Terms</a> & <a href="#">Privacy Policy.</a></div>

</div>


<div class="clearfix"></div></div>